@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";
@import "style";


@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');


.s-1 {
    background-image: url(../../images/Rectangle\ 1.jpg);
    height: 606px;
    margin-top: 31px;
    background-repeat: no-repeat;
    @include mainflex (column, center, center, no-wrap);
    @media (max-width:1000px) {
        background-position: center;
    }
