.s-1 {
    height: 606px;
    margin-top: 31px;
    background-image: url(../../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    @include mainflex (column, center, center, no-wrap);

    h1 {
        font-family: $main-font;
        font-size: 79px;
        font-weight: 700;
        color: white;
    }

    p {
        font-family: $main-font;
        color: white;
        font-weight: 400;
        font-size: 19px;
    }
}